* {
    transition: 0.5s ease;
    box-sizing: border-box;
}

#clock {
    background-color: black;
    height: 100%;
    font-family: 'digital-7', sans-serif;
    color: aqua;
    font-size: 550%;
    box-shadow: 5px 10px 10px #888888;
}

@font-face {
    font-family: 'digital-7';
    src: url('fonts/digital-7 (mono).ttf');
}

#hr {
    color: aqua;
}


#calendar {
    height: 100%;
    color: lightblue;
    font-size: 500%;
    box-shadow: 5px 10px 10px #888888;
}
