* {
    transition: 0.5s ease;
    box-sizing: border-box;
}

#clock {
    background-color: black;
    height: 100%;
    font-family: 'digital-7', sans-serif;
    color: aqua;
    font-size: 550%;
    border: 10px solid grey;
}

@font-face {
    font-family: 'digital-7';
    src: url('fonts/digital-7 (mono).ttf');
}

#hr {
    color: aqua;
}


#calendar {
    border: 10px solid lightblue;
    height: 100%;
    color: darkgrey;
    font-size: 550%;
}
